/* _about.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.about {
		height  : 45vw;
		display : -webkit-box;
		display : -ms-flexbox;
		overflow: hidden;

		&__container-left {
			background-color: $color-blue;
			width           : 25%;
			height          : 100%;

			&__wrap {
				padding: 0 58px;
				color  : $color-violet;

				h1 {
					margin-top   : 4.4vw;
					margin-bottom: 3.7vw;

					.color--white {
						color: $color-white;
					}
				}

				p {}

				button {
					color: $color-violet;
				}
			}
		}

		&__container-right {
			width                : 75%;
			height               : 100%;
			font-size            : 0;
			display              : -webkit-box;
			display              : -ms-flexbox;
			display              : flex;
			-webkit-box-orient   : horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction   : row;
			flex-direction       : row;
			-ms-flex-wrap        : wrap;
			flex-wrap            : wrap;

			&__photoOne {
				background-image   : url($bgabout1);
				background-size    : cover;
				background-position: center;
				height             : 50%;
				width              : 50%;
			}

			&__photoTwo {
				background-image   : url($bgabout2);
				background-size    : cover;
				background-position: center;
				height             : 50%;
				width              : 50%;
			}

			&__photoThree {
				background-image   : url($bgabout3);
				background-size    : cover;
				background-position: center;
				height             : 50%;
				width              : 100%;
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}