/* _about.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.about {
		height  : 45vw;
		display : -webkit-box;
		display : -ms-flexbox;
		overflow: hidden;

		&__container-left {
			background-color: $color-blue;
			width           : 25%;
			height          : 100%;

			&__wrap {
				padding: 0 20px;
			}
		}

		&__container-right {
			width : 75%;
			height: 100%;
			font  : 0/0 a;

			img {
				display: inline-block;
				height : 50%;
				width  : 50%;
			}

			img:last-child {
				width: 100%;
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}