/* _footer.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.contact {
		background-image   : url($bgfooter);
		background-position: center;
		background-size    : cover;
		background-repeat  : no-repeat;
		color              : $color-white;

		&__container {
			max-width: 54vw;
			margin   : 0 auto;

			&__text {
				padding-top: 90px;
				display    : -webkit-box;
				display    : -ms-flexbox;
				display    : flex;

				h2 {
					width      : 50%;
					line-height: 50px;
				}

				p {
					width      : 50%;
					line-height: 24px;
				}
			}

			&__copy {
				text-align : center;
				padding-top: 19vw;
			}

			&__menu {
				padding-top   : 6vw;
				padding-bottom: 8vw;

				ul {
					list-style-type: none;
					display        : -webkit-box;
					display        : -ms-flexbox;
					display        : flex;
					padding        : 0;
					width          : 23vw;
					margin         : 0 auto;

					li {
						margin-left : 15px;
						margin-right: 15px;
						text-align  : center;

						a {
							display        : block;
							color          : $color-white;
							text-decoration: none;

							&:hover {
								color          : $color-blue;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}