/* _footer.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.contact {
		background-image   : url($bgfooter);
		background-position: center;
		background-size    : cover;
		background-repeat  : no-repeat;
		color              : $color-white;

		&__container {
			max-width: 47.5rem;
			margin   : 0 auto;

			&__text {
				padding-top: 5.75rem;
				display    : -webkit-box;
				display    : -ms-flexbox;
				display    : flex;

				h2 {
					width        : 50%;
					line-height  : 3.125rem;
					margin       : 0;
					padding-right: 2.75rem;
				}

				p {
					width      : 50%;
					line-height: 1.5rem;
				}
			}

			&__copy {
				text-align : center;
				padding-top: 14.5rem;

				img {
					max-width: 2.75rem;
				}

				p {
					margin-top: 2.25rem;
				}
			}

			&__menu {
				padding-top   : 4.5rem;
				padding-bottom: 6.125rem;
				margin        : 0 auto;
				max-width     : 17.5rem;

				ul {
					list-style-type: none;
					display        : -webkit-box;
					display        : -ms-flexbox;
					display        : flex;
					padding        : 0;

					li {
						margin-left : 1rem;
						margin-right: 1rem;
						text-align  : center;

						&:last-child {
							margin-right: 0;
						}

						a {
							display        : block;
							color          : $color-white;
							text-decoration: none;

							&:hover {
								color          : $color-blue;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}