/* _header.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.header {
		position        : absolute;
		width           : 100%;
		height          : 4rem;
		display         : -webkit-box;
		display         : -ms-flexbox;
		display         : flex;
		-webkit-box-pack: justify;
		-ms-flex-pack   : justify;
		justify-content : space-between;
		top             : 4rem;
		color           : $color-white;

		&__logo {
			max-width  : 4rem;
			max-height : 4rem;
			margin-left: 8.25rem;
		}

		&__nav {
			ul {
				list-style-type: none;
				display        : -webkit-box;
				display        : -ms-flexbox;
				display        : flex;
				padding        : 1em 0;
				margin-right   : 8.25rem;

				li {
					margin-left : 0.9375rem;
					margin-right: 0.9375rem;
					text-align  : center;

					&:last-child {
						margin-right: 0;
					}

					a {
						display        : block;
						color          : $color-white;
						text-decoration: none;

						&:hover {
							color          : $color-blue;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}