/* _news.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.news {
		height : 25vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		&__container-left {
			width  : 25%;
			height : 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

			img {
				max-width          : 21vw;
				-ms-flex-item-align: end;
				align-self         : flex-end;
				left               : 10vw;
				position           : relative;
			}
		}

		&__container-right {
			background-color: $color-violet;
			width           : 75%;
			height          : 100%;

			&__text {
				max-width  : 360px;
				margin-left: 175px;
				margin-top : 100px;
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}