/* _typography.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	body {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	}

	nav {
		font-size: 0.75rem;
	}

	.work__mouse {
		font-weight: normal;
		font-size  : 0.75rem;
	}

	.about__container-left__wrap {
		h1 {
			font-size  : 3.875rem;
			line-height: 4.4vw;
		}

		p {
			font-size  : 0.75rem;
			line-height: 1.8vw;
		}

		button {
			font-size: 0.75rem;
		}
	}

	.news__container-right__text {
		color: $color-white;

		h2 {
			font-size: 1.625rem;
		}

		p {
			font-size  : 0.75rem;
			line-height: 1.375rem;
		}

		button {
			font-size: 0.75rem;
			color    : $color-white;
		}
	}

	.contact__container {
		font-size: 0.75rem;

		h2 {
			font-size: 1.875rem;
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}