/* _work.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.work {
		background-image   : url($bghead);
		background-position: center;
		background-size    : cover;
		background-repeat  : no-repeat;
		height             : 41rem;

		&__text {
			max-width        : 68rem;
			-webkit-transform: translate(-50%, -50%);
			transform        : translate(-50%, -50%);
			position         : absolute;
			top              : 50%;
			left             : 50%;
		}

		&__mouse {
			position  : relative;
			top       : 80%;
			color     : $color-white;
			text-align: center;
			width     : 10rem;
			margin    : 0 auto;

			img {
				max-width: 0.75rem;
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}